html, body {
    margin: 0;

    background: -webkit-gradient(linear, left top, left bottom, from(#9c9c9c), to(#ddd));
    background: -moz-linear-gradient(top, #9c9c9c, #ddd);

    /*
    background-color: #bebebe;
    */

    font-family: Arial, sans-serif;
    font-size: 1em;

    height: 100%;
}

/*
    Header
*/

#header {

}

.logo {
    font-family: cursive;
    margin-left: 20px;
    width: 332px;
}

.title {
    margin-top: 20px;
    font-size: 250%;
    font-weight: bold;
    color: white;
}

.subTitle {
    margin-bottom: 20px;
    text-align: right;
    color: white;
}

.toolbar {
    margin-bottom: 20px;
}

/*
    Content
*/

#content {
    margin: 0 100px 0 100px;
    height: 100%;
    min-height: 300px;
}

.contentPanel {
    min-height: 300px;
}

.pbody {
    border: none;
    min-height: 110px;
}

.label {
    font-weight: bold;
    margin-right: 10px;
}

.buttonForm {
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: end;
}

.buttonCtrl {
    margin-right: 10px;
}

.summaryBox {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.overviewTable {
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.gridTable {
    table-layout: fixed;
}

.gridTable tbody {
    vertical-align: baseline;
}

.editColumn {
    vertical-align: middle;
}

.masterTable {
    width: 100%;
}

.masterTableRow {
    vertical-align: bottom;
}

.masterControl {
    width: 100%;
}

.masterControlCal {
    margin-left: 0;
}

.linkTable {
    width: 100%;
}

.speakerList {
    margin-left: -25px;
}

/*
    Footer
*/

#footer {
}

.footerGrid {
    margin: 0 auto;
    padding-top: 20px;
}

.footerText {
    font-style: italic;
    font-weight: bold;
    font-size: x-small;
}
